.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.env

keystroke_dataset/
Keystrokes/
Keystroke_0/
Keystroke_1/
Keystroke_2/
Keystroke_3/
Keystroke_4/
Keystroke_5/
utils/__pycache__
